name: 'Release Hello'

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (tag)'
        default: '0-ea'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v2
      - name: 'Build'
        uses: ./.github/actions/build
      - name: 'Release with JReleaser'
        uses: jreleaser/release-action@v1
        env:
          JRELEASER_GITHUB_TOKEN: ${{ github.token }}
        with:
          arguments: |
            release \
              --auto-config \
              --project-version ${{ github.event.inputs.version }} \
              --tag-name ${{ github.event.inputs.version }} \
              --file Hello.java \
              --file hello-${{ github.event.inputs.version }}.jar \
              --file com.github.sormuras.hello@${{ github.event.inputs.version }}.jar
