name: 'Release Hello'

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (tag)'
        default: '0-ea'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v2
      - name: 'Set up JDK'
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: 'zulu'
      - name: 'Smoke test 1: java Hello.java without arguments'
        run: java Hello.java
      - name: 'Smoke test 2: java Hello.java with arguments'
        run: java Hello.java World
      - name: 'Compile and package executable JAR file'
        run: |
          javac --release 8 Hello.java
          jar --verbose --create --file hello-${{ github.event.inputs.version }}.jar --main-class Hello Hello.class
      - name: 'Smoke test 3: jar -jar hello-${{ github.event.inputs.version }}.jar with arguments'
        run: java -jar hello-${{ github.event.inputs.version }}.jar World
      - name: 'Upload release artifact'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ github.event.repository.name }}-${{ github.event.inputs.version }}-release-artifacts
          path: |
            LICENSE
            hello-${{ github.event.inputs.version }}.jar
